<div class="cuadro_gris">
  <img class="logo" src="../logo.png" alt="">
  <h1 class="titulo">QRTracker</h1>
</div>
<div class="campo_formulario">
  <div class="pestana">
    <a  routerLink="/paquetes" routerLinkActive ="active">Paquete</a>
  </div>

  <div   class="pestana">
    <a routerLink="/clientes" routerLinkActive ="active">Cliente</a>
  </div>

  <div  class="pestana">
    <a routerLink="/funcionarios" routerLinkActive ="active">Funcionario</a>
  </div>
  <router-outlet></router-outlet>
</div>
