<form class="" action="" method="post">

  <input class="textField" type="text" name="txIDPaq" value="" required="true">
  <label for="txIDPaq"> ID </label>

  <select class="textField" name="CbPaq" required="true">
    <!-- de la bd-->
  </select>
  <label for="CbPaq"> Destinatario </label>

  <input class="textField" type="text" name="txDesPaq" value="" required="true">
  <label for="txDesPaq">Descripción</label>

  <input class="textField" type="text" name="txDirPaq" value="" required="true">
  <label for="txDirPaq"> Dirección</label>

  <select class="textField" name="CbEsPaq" required="true">
    <!-- estados -->
  </select>
  <label for="CbEsPaq"> Estado </label>

  <input class="boton" type="button" name="btAgregar" value="AGREGAR">
</form>

<!--<qrcomponent> -->
