*{
  margin: 0;
  padding: 0;
}

.cuadro_gris{
  width: 100%;
  background-color: #a7ac93;
  height: 30%;
  position: absolute;
}

.campo_formulario{

  margin: 0 auto;
  width: 70%;
  top: 5em;
  background-color: white;
  height: 50em;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: -3px 3px 23px -4px rgba(0,0,0,1);
  -moz-box-shadow: -3px 3px 23px -4px rgba(0,0,0,1);
  box-shadow: -3px 3px 23px -4px rgba(0,0,0,1);
}

.pestana{

  position: relative;
  display: inline-block;
  background-color: #536c5d;
  padding: 3% 0;
  width: 50%;
  color: white;
  margin-right: -5px;

}

a{
  color: white;
  text-decoration: none;
  font-size: 200%;
  width: 100%;
  text-align: center;
  position: relative;
  font-family: 'Bubbler One', sans-serif;
  font-weight: bold;

}
